body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin:0;
    padding: 0;

}
h1 {
    font-size: 50px;
}
h2 {
    font-size: 30px;
    
}
h3 {
    font-size: 20px;
}
p {
    font-size: 18px;
    color: dimgrey;

}
.highlight {
    color:purple;
}
.text{
    margin-left: 35px;
}
.half-width{
    float: left;
    width:40%;
    margin-left: 3%;
    padding-left: 3%;
}
.half-width img {
    width: 100%;
    border-radius: 20%;
    margin-top: 10%;
}
section{
    height: 450px;
    padding-bottom: 100px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, rgb(82, 52, 172),rgb(112, 48, 153));
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.first-area{
  background-image: linear-gradient(160deg, rgb(199, 152, 227), white,rgb(232, 213, 245));
   
}
.second-area{
    background-image: linear-gradient(80deg,  white,rgb(232, 213, 245));
    padding-bottom: 0;
   
  }

.single-experience{
    box-shadow: 10px 10px 40px rgb(232, 213, 245);
    border-radius: 5px;
    height: 80%;
    background-color: white;
}

#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightSalmon, white);
    border-image-slice: 1;
   
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(89, 95, 177), white);
    border-image-slice: 1;
}
.p-text{
   
    font-size: 24px;
    font-weight: 500;
    color: black;
    text-align: justify;
    padding-top: 8px;
}
.img3 {
    padding-top: 0;
    
}


footer p{
    text-align: center;
    font-size: 15px;
}